html {
  window-min-width: 850px;
  min-height: 300px;
}

body {
  background-image: url("assets/bgtbc.JPG");
  background-size:100% 100%;
  font-size: 110%;
  margin: 0;

}
#container{
  flow: horizontal;
  height: *;
  border-spacing: *;
  padding-left: 5px;
  padding-right: 5px;

}
#launch-btn{

  display: block;

  margin-left: 0.5*;
  margin-right: 0.5*;
  margin-top: *;
  width: 80%;
  margin-bottom:*;
  font-size: 150%;
  font-weight: bold;
}

#realmlist,#account{
  min-width: 35%;
}
#middle-section{
  min-width: 25%;
  /* padding: 10px; */
  padding-top: 40px;
}
#middle-up {

  flow: horizontal;
  background-color: rgba(245, 250, 246, 0.6);
  border-radius: 5%;

}
#wow-v-select{
  font-size: 150%;
  font-weight: bold;
  margin-left:1*;
  margin-top: *;
  margin-bottom:*;
}
select|list {
display:block;
/* overflow-y: scroll-indicator; */
width: 1*;
height: 200px;
}
.center{
margin-left: auto;
margin-right: auto;
display: block !important;

}
#settings-btn, #add-realmlist-btn, #addaccount-btn {
font-size: 150%;
margin-top: *;
margin-bottom:*;

}
.column-header{
padding-top: 30px;
background-color: rgba(245, 250, 246, 0.6);
}
.column-header  icon {

padding-left: 10px;
}

.btn{
background: #640402;
color:#fff;
border-color: #4c4a4f;
font-weight: bold;
border-radius: 5px;
}

.btn:hover{
  background: #fff;
color:#640402;
cursor: pointer;
}

.select{
font-weight: bold;
font-size: 130%;
background-color: rgba(245, 250, 246, 0.6);
}

.icon {
background: #640402;
height: 40px;
width: 40px;
color: #fff!important;
border-radius: 50%;
margin-top: *;
margin-bottom:*;
}
.icon icon {
margin-right: 15px;
margin-top: 5px;
}
.edit-select-btn{
width: *;
font-size: 130%;
}

.settings-input{
height: 30px;
width: 300px;
margin-right: 10px;
font-size: 150%;
font-weight: bold;
}
.settings-input-wrap{
  flow: horizontal;
  horizontal-align:center;
  margin-bottom: 10px;
}
.add-settings-wrap {
  margin-bottom: 20px;
}


#settings-inner {
  background-color: rgba(244, 238, 238, 0.4);
  /* height: 300px;
  width: 500px; */
  height: *;
  horizontal-align:center;
  overflow-y: scroll;
}
#settings-inner h1 {
  margin-right: *;
  margin-left: *;
}

.input-title {
  text-align: center;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.input-ok {
  border-color: green;

}
.btn-ok {
  background-color: green;
}

@media width >= 800 {
  #settings-inner {
    font-size: 130%;
  }
  .settings-input {
    height: *;
    width: 500px;
  }
  .input-title{
    font-size: 130%;
  }

  .settings-input-wrap  {
    height: 50px;
  }
}

@media width > 850
{
  body {
    font-size: 130%;
  }

	select|list {
    height: 300px;
  }
  .settings-input-wrap  {
    height: 60px;
  }
}
@media width >= 1000 {
  #settings-inner {
    font-size: 160%;
  }
  .settings-input {
    height: *;
    width: 700px;
  }
  .input-title{
    font-size: 150%;
  }

  .settings-input-wrap  {
    height: 75px;
  }
}

@media width >= 1280
{
  body {
    font-size: 160%;
  }

	select|list {
    height: 400px;
  }
  #settings-inner {

  }
}

@media width >= 1600
{
  body {
    font-size: 200%;
  }

	select|list {
    height: 900px;
  }
  #settings-inner {

  }
}